<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>关于l</title>
</head>

<body>
    <h1><%= name %></h1>
    <div style="padding:10px;">
        <ul>
            ejs循环
            <% for(var i=0;i<lists;i++) { %>
            <li><%= i %></li>
            <% } %>
        </ul>
    </div>

    <img src="<%= require('./webpack.png') %>">
</body>

</html>